{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 ">

            {% if user.is_authenticated %}
               {% for curso in cursos %}
               <div class="row" >
                    <div class="col-8">
                        <a href="{% url 'apps.inscripcion:inscribirse' curso.id %}" style="color:black;
                        text-decoration:none;">
                            <div class="shadow bg-body rounded p-1 m-2" style="height:5rem"><p>{{curso.nombre}}</p><p>📅 {{curso.fecha_curso}}</p><p>​🚫​ {{curso.fecha_finalizacion}}</p></div>
                            <style>p {padding:0;margin:0}</style>
                        </a>
                    </div>
                    <div class="col-4 " >
                        <a href="{% url 'apps.inscripcion:listar' curso.id %}" style="color:black;
                        text-decoration:none;">
                            <div class="shadow bg-body rounded m-2 d-flex justify-content-center " style="height:5rem;align-items: center;">Inscriptos</div>
                        </a>
                    </div>
                </div>
               {%endfor%}
            {% else %}
                <div>
                    
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}