{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}


<script src="https://sdk.mercadopago.com/js/v2"></script>
<div class="cho-container"></div>
<script>
  const mp = new MercadoPago('TEST-cf6bd2c0-506d-4dc6-9887-f81ac44b86e0', {
    locale: 'es-AR'
  });

  mp.checkout({
    preference: {
      id: "{{pay.id}}"
    },
    render: {
      container: '.cho-container',
      label: 'Pagar',
    }
  });
</script>

<div class="container shadow bg-body rounded" style="width:45rem">
    <!-- {% if user.is_authenticated %} <a href="{% url 'apps.inscripcion:listar' curso.id %}" class="btn btn-secondary">Ver inscriptos</a>{%endif%} -->
    {% comment %} informacion del curso {% endcomment %}
    <div class="container">

        <div>
            <h1 class=" d-flex justify-content-center">{{curso.nombre}}</h1>
        </div>
        {% comment %} informacion del disertante {% endcomment %}
        <div class="row">
            <div class="col">
                
                <img src="{{curso.dis_imagen.url}}"  style="width:20rem; border-radius:50%"></img>
                <p style="font-family:calibri">{{curso.disertante}}</p>
            </div>
            <div class="col">
                <p>{{fecha}}</p>
                <p>{{curso.desc}}</p>
            </div>
            
            
        </div>
    <!-- formulario de inscripcion -->
        <h3>Realizar inscripcion</h3>
        <form action= "{% url 'apps.inscripcion:inscribirse' curso.id %}" method="POST" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            {{form.media}}
            {% bootstrap_form form %}
        <input type="submit" class="btn btn-outline-secondary" value="Siguiente"></input>
        </form>
    </div>
    <!-- fin del formulario -->
</div>

{% endblock %}